---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:400,600');


body.layout-cv {
    font-family: 'Lato', sans-serif;
    
    h1, h2, h3, label {
        font-family: 'Source Sans Pro', sans-serif;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 24px;
        padding-bottom: 12px;
        
        h1 {
            margin-bottom: 0;
        }

        .title {
            font-size: 18px;
        }
    }

    label {
        font-weight: 600;
    }

    $cantaloupe: #F2EBC0, #223840, #588729, #CAD942, #F26237;
    a {
        color: #223840;
    }

    .site-header, .site-footer {
        display: none;
    }

    section {
        margin-bottom: 24px;
    }
    
    .section-title, header {
        border-bottom: solid 1px #DDDDDD;
    }

    .employer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 24px
    }

    .employer .details {
        display: flex;
        align-items: baseline;
        width: 100%;
    }
    
    .employer label {
        font-size: 20px;
        margin-right: 24px;
    }

    .employer .title {
        font-size: 18px;
        font-style: italic;
    }

    .employer .date {
        flex: 1;
        text-align: right;
    }

    ul {
        margin-left: 24px;
        margin-bottom: 0;
    }

    ul li {
        margin: 6px 0;
    }

    .technology-list {
        margin: 0;
        list-style: none;
    }

    .technology-list > li {
        display: flex;
    }

    .technology-label {
        flex: 2;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }

    .technology-items {
        flex: 5;
        margin: 0;
        list-style: none;
    }

    .technology-items > li {
        display: inline;
        margin: 0;
    }

    .technology-items > li:after {
        content: ', ';
    }

    .technology-items > li:last-child:after {
        content: '';
    }

    @media screen and (max-width: 800px) {
        header, .employer .details {
            flex-direction: column;
        }
        .technology-list > li {
            flex-wrap: wrap;
        }

        .technology-label {
            flex: 100%;
        }

        
    }

    @media print {

        font-size: 12px;

        ul li {
            margin: 2px 0;
        }

        section {
            margin-bottom: 16px;
        }

        .technology-label {
            flex: 1;
        }

        .employer {
            margin-bottom: 12px;
        }

        .employer label {
            font-size: 14px;
        }

        .employer .title {
            font-size: 13px;
        }
    }
}

